#input-health-record-date{
    width:200px;
}
#input-health-record-description{
    width:313px;
}
#input-health-record-treatment{
    width:322px;
}
#input-health-record-vet_name{
    width:327px;
}
#input-health-record-dogId{
    width:353px;
}