.dog-note-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(0, 36, 135, 0.9);
    border-radius: 10px;
    margin: 3px;
}
#note-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    padding-top: 5px;
    margin:5px;
}
#note-content{
    width: 90%;
    border-top: 0.5px dashed rgba(0, 36, 135, 0.9);
    text-align: center;
    padding-top: 10px;
}
.note-update-delete-container{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.note-update-icon{
    border:none;
    background-color: transparent;
}
.note-delete-icon{
    border:none;
    background-color: transparent;
}