.more-tips-home-page{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 10px 0; 
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); 
    z-index: 20;
}
.more-tips-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:3%;
    margin-right:3%;

}
#more-tips-button{
    font-size: 16px;
    border: none;
    /* background-image: linear-gradient(to right,rgb(99, 71, 255), rgb(80, 232, 255) ); */
    /* box-shadow: 0 0 15px 5px rgba(99, 71, 255, 0.5), 0 0 20px 5px rgba(80, 232, 255, 0.5), 0 0 25px 10px rgba(255, 168, 255, 0.5); */
    background: linear-gradient(45deg, rgba(99, 71, 255, 0.5), rgba(80, 232, 255, 0.5), rgba(255, 168, 255, 0.5));

   
    border-radius: 10px;
    width: 100px;
    height: 30px;
    padding:3px;
    padding-left:5px;
    padding-right:5px;
    margin:3px;
    color:white;
    cursor: pointer;
}

