
.home-page-image-article-container{
    text-align: justify;
    max-width: 94%; 
    margin-left:3%;
    margin-right:3%;
}
.home-page-main-image{
    float: left; 
    margin:5px;
    width:50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page-main-image img{
    width:90%;
    height: auto;
    margin-bottom: 20px;
}
#home-page-main-img{
    border-radius: 10px;
}
.home-page-main-article{
    margin:10px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    padding:3px;
    margin:5px;
}
