
.home-page-image-article-container{
    text-align: justify;
    max-width: 94%; 
    margin-left:1%;
    margin-right:3%;
    margin-top: 20px;
    padding: 10px;
 
}
.home-page-main-image{
    float: left; 
    width:50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.home-page-main-image img{
    width:90%;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), 
    -5px 5px 10px rgba(169, 169, 169, 0.5), 
    -5px -5px 10px rgba(169, 169, 169, 0.5), 
    5px -5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 2px rgba(99, 71, 255, 0.5), 0 0 10px 2px rgba(80, 232, 255, 0.5);
}
#home-page-main-img{
    border-radius: 10px;
}
/* .home-page-main-article{
    margin:10px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    padding:3px;
    margin:5px;
} */
 .homepage-welcome-title{
    font-size: 3.5rem; 
    font-weight: 800;  
    line-height: 1.2;
    background: linear-gradient(45deg, #4a0072, #0088cc); 
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 5px 10px rgba(74, 0, 114, 0.4), 0 7px 15px rgba(0, 136, 204, 0.5); 
    margin-bottom: 20px;
 }
 .home-page-main-article{
    font-size: 1.4rem; 
    line-height: 1.8;
    color: #444; 
    background: linear-gradient(45deg, #4a0072, #0088cc); 
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 3px 6px rgba(74, 0, 114, 0.3), 0 6px 12px rgba(0, 136, 204, 0.4);
}
 