
.update-dog-container{
    height: 600px;
    width: 500px;
    overflow: auto;

}
.update-dog-form-container{
    border-radius: 20px;
    background-color: rgb(203, 218, 233,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin:5px;
    overflow: scroll;
}
.update-input{

    margin:5px;
    padding:3px;
    display: flex;
    justify-content: flex-start;
    gap:15px;
    margin-left: 30px;
   
}
.add-dog-form-lable{
    font-size: 18px;
    font-weight: bolder;
}
#dog-update-age{
    width: 312px;
}
#dog-update-color{
    width: 302px;
}
#dog-update-weight{
    width:292px;
}
#dog-update-description{
    width:265px;
    height: 50px;
}
#dog-update-medical-allergies{
    width:225px;
}
#owner-update-name{
    width:286px;
}
#owner-update-contact-number{
    width:265px;
}
#owner-update-email{
    width: 332px;
}
#owner-update-address-city{
    width:340px;
}
#owner-update-address-state{
    width:335px;
}
#owner-update-zip-code{
    width:306px;
}
#owner-update-country{
    width:314px;
}
.update-input-gender-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}