.pictures-container{     
    width: 99%;
    height: 1500px;
    background-image: repeating-linear-gradient(to bottom, rgba(168, 193, 231, 0.5) 0,   rgba(168, 193, 231, 0.5) 1px, transparent 1px, transparent 60px);
    background-repeat: repeat; 
    overflow: scroll; 
}

.all-photoes{
    width: 200px;
    height: 200px;
}
.photoes-container{
 
    width: 60%;
    position: absolute;
    left: 20%;
    top:28%;
    gap:5px;
    overflow: scroll;
}
.dog-photos-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
   
}
.all-photoes{
    flex: 1 1 23%; 
    box-sizing: border-box; 
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}
.showmore{
    border: none;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size:18px;
    font-weight: bolder;
    margin-bottom: 5px;
    margin-top:5px;
}
.photo-card{
    position: relative;
    background-color: transparent;    
}
.photo-info{
    visibility: hidden;
    opacity: 0; 
    position: absolute; 
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease, visibility 0.3s ease;  
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 24px;
    color: rgb(127, 176, 228);
    background-color: rgb(15, 23, 31,0.8);
    height: 90%;
    width: 90%;
    border-radius: 10px;
    padding-left: 10px;
    overflow: scroll;
}
#photo-info-description{
    font-size: 16px;
}
.photo-card:hover .photo-info{
    visibility: visible;
    opacity: 1; 
 

}

#photo-cards-options{
    border: none;
    background-color: transparent;
    font-weight: bolder;
    font-size: 24px;
    position: absolute;
    bottom:3px;
    left:5px;
    /* z-index: 20; */
}

.Photo-cards-menu{
    position: absolute;
    bottom:10px;
    left:5px;
    background-color: rgb(150, 166, 182);
    width: 60%;
    height: 25%;
    border-radius: 10px;
    padding: 3px;
    margin:3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;

}
.photo-cards-update{
    border: none;
    background-color: transparent;
    color:aliceblue;
    font-weight: bold;
    padding: 3px;
}
.photo-cards-delete{
    border: none;
    background-color: transparent;
    color: aliceblue;
    font-weight: bold;
    padding: 3px;
}
.photo-cards-add{
    border:none;
    background-color: rgb(203, 218, 233,0.9);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-left: 10px;
    padding:5px;
    border-radius: 10px;
    font-weight: bolder;

}
#photo-page-photo-button{
    background-color: greenyellow;
}
.sidebar-dog-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin:20px;
    margin-left: 30px;
    gap:10px;
    cursor: pointer;
}
.sidebar-dog-info:hover{
    background-color: aliceblue;
}
.dog-page-nav-button{
    padding-bottom: 20px;
    border-bottom: 1px solid darkgrey;
}
.sidebar-dog-name-button{
    background-color: transparent;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;
}
.sidebar-photo-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin:20px;
    margin-left: 30px;
    gap:10px;
    cursor: pointer;
}
.sidebar-photo-info:hover{
    background-color: aliceblue;
}
#see-large-photos{
    border-top: 1px solid darkgrey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;
    padding-top: 10px;
    padding-left: 5px;
    color: orange;
}