.health-tips-wrapper{
    height: 1100px;
    overflow: scroll;
}
.new-training-tip-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dashed  rgba(3, 68, 100, 0.8);
}
.new-training-tip-container input{
    width:600px;
    height:100px;
}