.friend-notes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(0, 36, 135, 0.9);
    border-radius: 10px;
    margin: 3px;
}