.dog-page-container{
    width: 99%;
    height: 1100px;
    background-image: repeating-linear-gradient(to bottom, rgba(168, 193, 231, 0.5) 0,   rgba(168, 193, 231, 0.5) 1px, transparent 1px, transparent 60px);
    background-repeat: repeat; 
    overflow: scroll; 
}

.dog-cards-image{
    width: 200px;
    height:80%;
    object-fit: cover;
    border-radius: 10px;
}
.dog-page-nav-button{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    padding-left: 10px;
}
.dog-page-nav-button button{
    font-size: 16px;
    border: none;
    background-color: darkgrey;
    border-radius: 10px;
    padding:5px;
    margin:3px;
    color:white;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
}
.showcase-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.dog-info-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: flex-end;
}
.select-dog-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:10%;
}
.showcase-dog-img-container{
    flex:2;
    background-color: transparent;
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10px;
}
.dog-info{
    flex:1;
}
.dog-info-image{
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 
            5px 5px 15px rgba(25, 44, 90, 0.3), 
            -5px 5px 15px rgba(25, 44, 90, 0.5), 
            -5px -5px 15px rgba(25, 44, 90, 0.5), 
            5px -5px 15px rgba(25, 44, 90, 0.3);
   
}
.dog-card{
    position: relative;

}
.dog-cards-text {
    visibility: hidden;
    opacity: 0; 
    position: absolute; 
    bottom: 40%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    transition: opacity 0.3s ease, visibility 0.3s ease;  
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 32px;
    color: rgb(72, 147, 222);

}
.dog-card:hover .dog-cards-text{
    visibility: visible;
    opacity: 1;  

}
.dog-basic-info{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 3px;
    gap:5%;

  
}
.showcase-dog-bio{
    padding:5px;
    margin:5px;
    margin-left: 0;
    padding-left: 0;
    height: 50px;
    width: 50%;
    overflow: scroll;

}
#dog-cards-options{
    border:none;
    background-color: transparent;
    font-size: 24px;
    position: absolute;
    bottom:20%;
    left:5px;
}
.dog-cards-menu{
    position: absolute;
    bottom:20%;
    left:-10%;
    background-color: rgb(224, 219, 219);
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}
.photo-cards-delete{
    padding:5px;
 
}
.dog-add-new-dog{
    border:none;
    background-color: rgb(203, 218, 233,0.9);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-left: 10px;
    padding:5px;
    border-radius: 10px;
    font-weight: bolder;
    margin-bottom: 5%;
}
.dog-basic-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    overflow: scroll;
    
}
#dog-basic-label{
    font-size: 16px;
    font-weight: bolder;
}
#dog-basic-info-text{
    font-size: 16px;
    padding-left: 10px;
}
#showcase-info-dog-name{
    font-size: 16px;
    font-weight: bolder;
}
#dog-page-dog-button{
    background-color: greenyellow;
}

.sidebar {
    position: fixed;
    top: 0%;
    right: 0;
    width: 250px;
    height: 100%;
    background: white;
    transition: transform 0.3s ease-in-out;
    box-shadow: -10px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 12;
    overflow: scroll;
  }
  
  .sidebar-header {
    padding: 30px;
    display: flex;
    justify-content: flex-end;
  }
  
  .arrow-button {
    position: fixed;
    left:0;
    top:30%;
    background: none;
    border: none;
    color: orangered;
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
  }
  
 .sidebar-button-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

 }
 .sidebar-button{
    background: orangered;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
 }
  
  
