/* dogpage */
.dog-page-wrapper{
   height: 1000px;
   overflow: scroll;
   display: flex;
   flex-direction: column;
   gap:30px;
}
.dog-page-container{
    width: 99%;
    height: auto;
    background-repeat: repeat; 
}

.dog-cards-image{
    width: 100px;
    height:80%;
    object-fit: cover;
    border-radius: 10px;
}
.dog-page-nav-button{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    padding-left: 10px;
}
.dog-page-nav-button button{
    font-size: 18px;
    font-weight: bolder;
    border: none;
    background: linear-gradient(rgba(0, 36, 135, 0.9), rgba(23, 3, 243, 0.1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 10px;
    padding:5px;
    margin:3px;
    cursor: pointer;
    width: 80px;
    height: 30px;
}
.dog-page-nav-button button:hover{
    background-color: brown;
}
/* DogShowCase */
.showcase-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dog-info-container{
    width: 94%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-items: flex-end;
    gap:2%;
}
.select-dog-container{
    display: flex;
    flex-direction: column;
    justify-content:flex-start; 
    margin-left: 27%;
    margin-top:10%;
}
.showcase-dog-img-container{
    background-color: transparent;
    width: 50%;
    height: 100%;
    border-radius: 10px;
}
.dog-info{
    width: 40%;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dog-info-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px darkgrey;
}
.dog-card{
    position: relative;
    cursor: pointer;
  
}
.dog-cards-text {
    visibility: hidden;
    opacity: 0; 
    position: absolute; 
    bottom: 40%;
    /* left: 25%; */
    z-index: 10;
    transform: translateX(-50%);
    transition: opacity 0.3s ease, visibility 0.3s ease;  
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 18px;
    color: rgb(98, 98, 236);

}
.dog-card:hover .dog-cards-text{
    visibility: visible;
    opacity: 1;  

}
.dog-basic-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 3px;
    gap:2%;
    background-color: rgb(175, 200, 244);
    
}
.showcase-dog-bio{
    padding:5px;
    margin:5px;
    margin-left: 0;
    padding-left: 0;
    height: auto;
    width: 50%;
}
#dog-cards-options{
    border:none;
    background-color: transparent;
    font-size: 24px;
    position: absolute;
    bottom:10%;
    left:0;
}
.dog-cards-menu{
    position: absolute;
    bottom:10%;
    left:30%;
    height: 100px;
    width: 120px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    border-radius: 10px;
    box-shadow:0 0 10px 2px rgba(88, 121, 125, 0.5);

}
.dog-cards-delete{
    border: none;
    background: linear-gradient(rgba(0, 36, 135, 0.9), rgba(23, 3, 243, 0.1));
    color:white;
    font-weight: bolder;
    padding: 3px;
    width: 96px;
    height: 40px;
    border-radius: 10px;
}
.photo-cards-delete{
    padding:5px;
 
}
.dog-add-new-dog{
    border:none;
    background: transparent;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px; 
    margin-left: 10px; 
    padding:5px;
    border-radius: 10px;
    font-weight: bolder;
}
.dog-basic-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;   
    background-color: rgb(175, 200, 244);
    margin-bottom: 3px;
}
.dog-bio-basic-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(175, 200, 244);
    margin-bottom: 3px;
}
#dog-basic-label{
    font-size: 16px;
    font-weight: bolder;
    padding: 3px;
    border-radius: 10px;
   
}
#dog-basic-info-text{
    font-size: 16px;
    padding: 10px;

}
#showcase-info-dog-name{
    font-size: 32px;
    font-weight: bolder;
}
#dog-page-dog-button{
    background-color: rgb(78, 2, 2);
}
/* DogSideBar */
.sidebar {
    position: fixed;
    top: 0%;
    right: 0;
    width: 250px;
    height: 100%;
    background: white;
    transition: transform 0.3s ease-in-out;
    box-shadow: -10px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 12;
    display: flex;
    flex-direction: column;
  }
.fixed-top{
    position: sticky;
    top: 0;
  }
.scrollable {
    flex: 1;
    overflow-y: auto; 
    padding: 10px;
}
.sidebar-header {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
  }
.arrow-button {
    position: fixed;
    left:0;
    top:48%;
    background: none;
    border: none;
    color: darkblue;
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
  } 
.sidebar-button-container{
    display: flex;
    flex-direction: row;
 }
.sidebar-button{
    position: fixed;
    right:2%;
    top:45%;
    background:transparent;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
 }
.sidebar-dog-info-dogpage{
    width:80%;
    display: flex;
    justify-content: flex-start;
    margin:2px; 
    gap:30px;
    cursor: pointer;
 }
.sidebar-dog-records{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid yellowgreen;
    margin-bottom: 20px;
    margin-left: 5px;
}
#sidebar-dog-info-dog-name{
    font-size: 18px;
    font-weight: bolder;
} 
#beloved-dog-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: bold;
    background: linear-gradient(rgba(0, 36, 135, 0.9), rgba(23, 3, 243, 0.1));
    -webkit-background-clip: text;   
    background-clip: text;          
    color: transparent;  
          
}
.dog-cards-title-icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

#beloved-dog-sidebar{
    text-align: center;
}

/* NewestDogNote */

#news-dog-title{
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    border-top: 0.5px solid darkgrey;
    padding-top: 20px;
}
.newest-note-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5px;
}
.newest-note-title-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    padding-bottom: 5px;
    border-bottom: 0.5px dashed rgb(139, 139, 174);
    margin-bottom: 5px;
}
#news-note-dog-name{
    font-size: 18px;
    font-weight: bolder;
    padding-left: 5px;
}
.newest-health-record-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 0.5px dashed rgb(139, 139, 174);
}
.newest-health-record-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
}