#input-training-record-date{
    width:179px;
}
#input-health-record-training-type{
    width:288px;
}
#input-training-record-notes{
    width:354px;
}
#input-trainiing-record-trainer-name{
    width:290px;
}
#input-training-record-dogId{
    width:350px;
}