.login-container{
    border-radius: 20px;
    background-color: rgb(203, 218, 233,0.9);
    height: 250px;
    width: 350px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form-container{
 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:30px;
}
.login-submit-button{
    margin-top: 10px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    color:aliceblue;
    background-color: darkgrey;
    border: 1px solid rgb(83, 90, 98);
    margin-left: 70px;
}
#login-email-input{
    width: 200px;
}
#login-password-input{
    width: 178px;
}
