.profile-dropdown {
  position: absolute;
  right:2%;
  top:9%;
  background-color:white;
  list-style-type: none;
  padding: 5px;
  margin: 5px;
  
  border: 2px solid transparent;
  border-radius: 10px;
  /* background: linear-gradient(0.15turn, #4b92b0, #def4cd, #f2a95b); */
  box-shadow:0 0 10px 2px rgba(88, 121, 125, 0.5);

 
}
.nav-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 96%;
  padding-bottom: 10px;
  background-color: white;
  /* border-bottom: 3px solid darkcyan; */
  border-bottom: 3px solid transparent;
  /* background-image: linear-gradient(rgba(49, 101, 245, 0.5), rgba(244, 192, 23, 0.5)); */
  /* background: linear-gradient(45deg, rgba(99, 71, 255, 0.5), rgba(80, 232, 255, 0.5), rgba(255, 168, 255, 0.5)); */
  background-image:  linear-gradient(rgba(0, 36, 135, 0.9), rgba(23, 3, 243, 0.1));
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 3px;

}
.fa-user-circle-button{
  background-color:transparent; 
  border: none;
  font-size: 18px;
  margin-top: 5px;

}
.profile-button-container{
  margin-top: 10px;
  padding-left: 8px;
  padding-right:8px;
  padding-top:2px;
  padding-bottom: 2px;
  border-radius: 15px;
  background: linear-gradient(rgba(0, 36, 135, 0.9), rgba(23, 3, 243, 0.1));
  /* background-color: rgb(224, 219, 219); */
  /* background-image: linear-gradient(to right,rgb(99, 71, 255), rgb(80, 232, 255) ); */
  /* background: linear-gradient(45deg, rgba(99, 71, 255, 0.5), rgba(80, 232, 255, 0.5), rgba(255, 168, 255, 0.5)); */
}
#profile-dropdown-li{
  padding:3px;
  margin:2px;
  padding-left:10px;
}
#profile-dropdown-li-button{
  border:none;
  background: linear-gradient(rgba(0, 36, 135, 0.9), rgba(23, 3, 243, 0.1));
  /* background-color: darkgrey; */
  /* background-image: linear-gradient(to right,rgb(99, 71, 255), rgb(80, 232, 255) ); */
  /* background: linear-gradient(45deg, rgba(99, 71, 255, 0.5), rgba(80, 232, 255, 0.5), rgba(255, 168, 255, 0.5)); */
  padding:5px;
  color:white;
  font-weight: bolder;
  border-radius: 5px;
 
  
}
.login-signup-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width:120px; 
  margin-top: 10px;
  margin-bottom: 10px;
}
#demo-user-button{
  border:none;
  background: linear-gradient(rgba(0, 36, 135, 0.9), rgba(23, 3, 243, 0.1));
  /* background-color: darkgrey; */
  /* background-image: linear-gradient(to right,rgb(99, 71, 255), rgb(80, 232, 255) ); */
  /* background: linear-gradient(45deg, rgba(99, 71, 255, 0.5), rgba(80, 232, 255, 0.5), rgba(255, 168, 255, 0.5)); */
  padding:5px;
  color:white;
  font-weight: bolder;
  border-radius: 5px;
  
}
.login-signup-button{
  border:none;
  background: linear-gradient(rgba(0, 36, 135, 0.9), rgba(23, 3, 243, 0.1));
  /* background-color: darkgrey; */
  /* background-image: linear-gradient(to right,rgb(99, 71, 255), rgb(80, 232, 255) ); */
  /* background: linear-gradient(45deg, rgba(99, 71, 255, 0.5), rgba(80, 232, 255, 0.5), rgba(255, 168, 255, 0.5)); */
  padding:5px;
  color:white;
  font-weight: bolder;
  border-radius: 5px;
}
.go-see-dog-button{
  position: absolute;
  right:10%;
  top:3%;
  margin-top: 8px;
  background: linear-gradient(rgba(0, 36, 135, 0.9), rgba(23, 3, 243, 0.1));
  /* background-image: linear-gradient(to right,rgb(99, 71, 255), rgb(80, 232, 255) ); */
  /* background: linear-gradient(45deg, rgba(99, 71, 255, 0.5), rgba(80, 232, 255, 0.5), rgba(255, 168, 255, 0.5)); */
  border: none;
  color: white;
  width: 100px;
  height: 30px;
  font-size: 16px;
  border-radius: 50px;
  
  cursor: pointer;
  animation: pulse 5s infinite;
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


