.update-form-container{
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 10, 50, 0.95), rgba(23, 3, 243, 0.1));
    background-color: white;
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.update-input{
    margin:5px;
    padding:3px;
    display: flex;
    justify-content: flex-start;
    gap:15px;
}
.update-form-lable{
    font-size: 18px;
    font-weight: bolder;
}
.update-form-submit{
    margin-top: 10px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    color:aliceblue;
    background: linear-gradient(rgba(0, 36, 135, 0.9), rgba(23, 3, 243, 0.1));
    border: 0.5px solid rgba(0, 36, 135);
    box-shadow: 0 0 10px 1px rgb(51, 62, 94);
    margin-bottom: 20px;
}
.update-form-submit:disabled{
    display: none;
}
#photo-title{
    width:300px;
}
#photo-description{
    width:245px;
    height:50px;
    overflow: scroll;
}
.update-form-submit{
    margin-bottom: 10px;
}