
.update-form-container{
    border-radius: 20px;
    background-color: rgb(203, 218, 233,0.9);
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  
}
.update-input{
    margin:5px;
    padding:3px;
    display: flex;
    justify-content: flex-start;
    gap:15px;
}
.update-form-lable{
    font-size: 18px;
    font-weight: bolder;
}
.update-form-submit{
    margin-top: 10px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    color:aliceblue;
    background-color: darkgrey;
    border: 1px solid rgb(83, 90, 98);
    margin-bottom: 20px;
}
#photo-date{
    width:240px;
}
#photo-title{
    width:300px;
}
#photo-description{
    width:245px;
    height:50px;
    overflow: scroll;
}
.update-form-submit{
    margin-bottom: 10px;
}